.DS_Store
__pycache__

*.pyc
# dataset
IPIP120.por
IPIP300.por
IPIP300.dat
IPIP120.csv
IPIP300.csv
# analysis
HUMAN_OBS_SCORES.pt
HUMAN_VAL.pt
distribution.ipynb


human/

human_analysis_IPIP120.ipynb
repo_structure.md

# OPENAI api key
keys.json
.ipynb_checkpoints
.idea/csv-plugin.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/LLM-Personality-Codebase.iml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml

# xiaoyang personal
bert_prompt.py
Prompt/


# Test
*/test/*

!.gitkeep
!gitignore