.DS_Store
__pycache_

*.pyc
# dataset
IPIP120.por
IPIP300.dat
processed.csv

repo_structure.md

# OPENAI api key
keys.json
.ipynb_checkpoints
.idea/csv-plugin.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/LLM-Personality-Codebase.iml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
