.DS_Store
__pycache__

*.pyc
# dataset
IPIP120.por
IPIP300.por
IPIP300.dat
IPIP120.csv
IPIP300.csv

human_analysis_IPIP120.ipynb
repo_structure.md

# OPENAI api key
keys.json
.ipynb_checkpoints
.idea/csv-plugin.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/LLM-Personality-Codebase.iml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
